body{
  text-align:center;
  background:linear-gradient(
  
  #E1BEE7 0%,#90CAF9 100%);
  background-repeat:no-repeat
  
}
img
{
  width:300px;
    border-radius: 50%;
} 

h1{
  font-size:35px;
     font-family: monospace;
}

p{
  font-size:25px;
  color:purple;
  font-weight:bold;
     font-family: monospace;
  
  
}
h2{
  font-size:20px;
  color:darkblue;
   font-family: monospace;
}
.line{
  height:6px;
  background-color:black;
  width:70px;
  margin:8px auto;
    
   
}
#bio{
  font-size:18;
  text-align:center;
}
.menu{
  list-style: none;
  font-family: sans-serif;
  position: absolute;
  top: 10px;
  z-index: 10;
  cursor: pointer;
}
.links{
  float: left;
  color: brown;
  padding-top: 5px;
  padding-left: 9px;
  padding-right: 5px;
  padding-bottom :5px;
  font-family: monospace;
  font-size: 30px;
}
.links:hover{
  background-color: burlywood;
}
